.App {
    text-align: center;
}

.addForm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    margin-left: 20px;
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250, 172, 17);
    border-radius: 7px;
    cursor: pointer;
    background: rgb(255, 212, 3) linear-gradient(rgb(255, 212, 3), rgb(248, 157, 23));
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
    transition: box-shadow .2s, border-color .2s;
}

.btn:hover {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, .5);
}

.btn:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177, 159, 0, 1);
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .1), inset 0 1px 2px rgba(0, 0, 0, .3), inset 0 0 0 60px rgba(255, 255, 0, .45);
}


.input {
    width: 500px;
    font-size: 17px;
}

.task-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 590px;
    border: 1px solid black;
    margin: 20px auto 0;
    animation: 2s show ease;
}

.text {
    margin-left: 5px;
}


.btn-remove {
    display: inline-block;
    box-sizing: border-box;
    padding: 38px 42px 10px 7px;
    margin-left: auto;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-image: url("../image/x.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.btn-remove:focus-visible {
    box-shadow: 0 0 0 2px #666;
}

.checkList {
    display: flex;
    width: 100%;
}


.check:checked+.text-label {
  text-decoration: line-through;
}

.text {
    margin-top: 14px;
}


